#experiment {
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 200px;
  perspective: 1000px;
  perspective-origin: 50% 200px;
  position: relative;
  top:10px;
  left:-20px;
}

.experiment {
        background: url(../images/fon4.jpg) no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

#cube {
  position: relative;
  margin: 100px auto;
  height: 400px;
  width: 400px;
  -webkit-transition: -webkit-transform 0.2s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 0.2s linear;
  -moz-transform-style: preserve-3d;
  transition: transform 0.2s linear;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 360px;
  width: 360px;
  padding: 1px;
  background-color: rgba(255, 255, 255, 3);
  border-left: 5px solid #000;
  border-right: 5px solid #000;
  border-top: 5px solid #d88;
  border-bottom: 5px solid #d88;
  border-radius: 3px;
}

#cube .one  {
  -webkit-transform: rotateX(90deg) translateZ(185px);
  -moz-transform: rotateX(90deg) translateZ(185px);
  transform: rotateX(90deg) translateZ(185px);
  border: 5px solid #d88;
}

#cube .two {
  -webkit-transform: translateZ(185px);
  -moz-transform: translateZ(185px);
  transform: translateZ(185px);
}

#cube .three {
  -webkit-transform: rotateY(90deg) translateZ(185px);
  -moz-transform: rotateY(90deg) translateZ(185px);
  transform: rotateY(90deg) translateZ(185px);
}

#cube .four {
  -webkit-transform: rotateY(180deg) translateZ(185px);
  -moz-transform: rotateY(180deg) translateZ(185px);
  transform: rotateY(180deg) translateZ(185px);
}

#cube .five {
  -webkit-transform: rotateY(-90deg) translateZ(185px);
  -moz-transform: rotateY(-90deg) translateZ(185px);
  transform: rotateY(-90deg) translateZ(185px);
}

#cube .six {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(185px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(185px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(185px);
  border: 5px solid #d88; 
}

.button1 {
width:44px; height:44px; margin: 0 1px 1px 0; float:left;padding:0px;
}

.button2 {
width:44px; height:44px; margin: 0 1px 1px 0; float:left; padding:0px; 
}

.button3 {
width:44px; height:44px; margin: 0 1px 1px 0; float:left; padding:0px;
}

.button4 {
width:44px; height:44px; margin: 0 1px 1px 0; float:left; padding:0px;
}

.button5 {
width:44px; height:44px; margin: 0 1px 1px 0; float:left;padding:0px;
}

.button6 {
width:44px; height:44px; margin: 0 1px 1px 0; float:left;padding:0px;
}

#experimentSmall {
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 200px;
  perspective: 1300px;
  perspective-origin: 50% -400px;
}

#cubeSmall {
  position: absolute;
  margin: 10px auto 0;
  left: 80px;
  top: -100px;
  height: 160px;
  width: 160px;
  transform-style: preserve-3d;
  animation: rotate 7s infinite linear;
}

.faceSmall {
  position: absolute;
  height: 160px;
  width: 160px;
}

#cubeSmall .one  {
  -webkit-transform: rotateX(90deg) translateZ(80px);
  -moz-transform: rotateX(90deg) translateZ(80px);
  transform: rotateX(90deg) translateZ(80px);
}

#cubeSmall .two {
  -webkit-transform: translateZ(80px);
  -moz-transform: translateZ(80px);
  transform: translateZ(80px);
}

#cubeSmall .three {
  -webkit-transform: rotateY(90deg) translateZ(80px);
  -moz-transform: rotateY(90deg) translateZ(80px);
  transform: rotateY(90deg) translateZ(-80px);
}

#cubeSmall .four {
  -webkit-transform: translateZ(80px);
  -moz-transform: translateZ(80px);
  transform:  translateZ(-80px);
}

#cubeSmall .five {
  -webkit-transform: rotateY(90deg) translateZ(80px);
  -moz-transform: rotateY(90deg) translateZ(80px);
  transform: rotateY(90deg) translateZ(80px);
}

#cubeSmall .six {
  -webkit-transform: rotateX(90deg) translateZ(80px);
  -moz-transform: rotateX(90deg) translateZ(80px);
  transform: rotateX(90deg) translateZ(-80px);
}


@keyframes rotate {
  100% {
    transform: rotateY(360deg) rotateX(360deg) ;
  }
}